.banner__imagem {
    background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), 
    url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    position: relative;
}

.banner__container {
    height: 25vh;
}

.banner__titulo {
    color: var(--branco);
    font-size: 22px;
    position: absolute;
    left: 1rem;
    bottom: 6rem;
}

.banner__texto,
.banner__botao {
    color: var(--branco);
    font-weight: 600;
}

.banner__texto {
    position: absolute;
    left: 1rem;
    bottom: 4.5rem;
}

.banner__botao {
    background-color: var(--azul);
    padding: 1em;
    text-decoration: none;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .banner__container {
        height: 70vh;
    }

    .banner__titulo {
        font-size: 52px;
        left: 2rem;
        bottom: 8.5rem;
    }

    .banner__texto {
        font-size: 22px;
        left: 2rem;
        bottom: 6rem;
    }

    .banner__botao {
        left: 2rem;
        bottom: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .banner__container {
        height: 40vh;
    }

    .banner__titulo {
        left: 10rem;
    }

    .banner__texto {
        left: 10rem;
    }

    .banner__botao {
        font-size: 16px;
        font-weight: 400;
        left: 10rem;
    }
}